*{
    box-sizing: border-box;
    margin: auto;
    padding: 8px;
}
header ul{
    justify-content: space-between;
    margin-left: 32%;
    text-decoration: none;
}

header li a{
    color: black;
    text-decoration: none;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container {
    width: 1399px;
    margin: 0 auto;
    justify-content: space-between;
}

.articles {
    display: flex;
}

.articles article img {
    /*height: 180px;*/
    width: 100%;
}

.articles article {
    width: 30%;
}

section{
    padding: 16px 0;
}
section h2,
.articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
}

.articles article a {
    background-color: rgb(170, 160, 255);
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

section h2{
    font-size: 32px;
}

h1{
    margin-left: 35%;
}
h2{
    color: rgb(255, 255, 255);
}

#sports h2{
    background-color: rgb(81, 190, 81);
}
#economia h2{
    background-color: rgb(228, 228, 122);
}
#moda h2{
    background-color: plum;
}
#games h2{
    background-color:lightcoral;
}